/*=======================
left section -> Buttons
=======================*/

main.flex {
    gap: 2.2rem;
    align-items: start;
}

main .left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .left-section button {
    width: 11rem;
    font-size: 1.1rem;
    padding: 0.75rem;
    text-align: center;
    background-color: rgba(35, 35, 45, 1);
    opacity: 0.6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

main .left-section button:hover {
    opacity: 1;
    font-weight: bold;
}

main .left-section button.active {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.85rem;
    border: 1px solid var(--hover-blue);
}

/*=======================
right section -> Project overView
=======================*/
main section.right-section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 22px;
    justify-content: center;

}

main section.right-section article.card {
    width: 300px;
    /* max-height: 360px; */
    border: 2px solid rgba(95, 190, 250, 0.4);
    box-shadow: 2px 2px 5px rgba(139, 136, 136, 0.8);
    border-radius: 8px;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: linear-gradient(rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05));
}

main section.right-section article.card .img-container {
    width: 100%;
    height: 55%;
    overflow: hidden;
}

main section.right-section article.card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main section.right-section article.card:hover {
    border: 3px solid var(--hover-blue);
    box-shadow: 3px 3px 6px rgba(139, 136, 136, 0.8);
    rotate: 1deg;
    scale: 1.02;
    cursor: pointer;
}



main section.right-section article.card .box {
    padding: 0 0 6px 6px;
}

main section.right-section article.card .box .title {
    color: var(--title-color);
    margin: 8px 0;
    letter-spacing: 1.2px;
    font-size: 23px;
    font-weight: 500;
}

main section.right-section article.card .box .sub-title {
    color: var(--subtitle-color);
    letter-spacing: 1.2px;
}

main section.right-section article.card .project-link {
    padding-right: 5px;
    color: var(--subtitle-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

main section.right-section article.card .box .icons {
    display: flex;
    gap: 8px;
    font-size: 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

article.card .box .icons .icon {
    cursor: pointer;
}

main section.right-section article.card .box .show-more {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

article.card .box .icons .icon:hover,
article.card .box .show-more:hover {
    scale: 1.1;
    color: var(--title-color);
}







@media (max-width:600px) {
    main.flex {
        flex-direction: column;
        align-items: center;
    }

    main .left-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .left-section button {
        width: 7rem;
        font-weight: bold;
        font-size: 0.7rem;
    }
}
@media (max-width:1000px) {
    main.flex {
        flex-direction: column;
        align-items: center;
    }

    main .left-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main .left-section button {
        width: 7rem;
        font-weight: bold;
        font-size: 0.7rem;
    }
}