@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;




  /* To Up To Top page  */

  scroll-behavior: smooth;
}

/*------------------------------
Reset Some Element
------------------------------*/

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

/*------------------------------
Reset Some Element
------------------------------*/
:root {
  --primary-color: #000;
  --secondary-color: rgb(24, 24, 27);
  --border-color: rgba(63, 63, 70, 0.4);

  --title-color: rgb(244, 245, 245);
  --subtitle-color: rgb(161, 161, 170);

  --bg-header: rgb(39, 39, 42);
  --hover-blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
}

.light {
  --primary: #fff;
}

body {
  background-color: var(--primary-color);
  color: #fff;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--border-color);
  background-color: var(--secondary-color);
  padding: 0 2rem;
}



/*Custom Scrollbar*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--hover-blue);
  border-radius: 10px;
  border: 2px solid #1e1e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #857dff;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--hover-blue) var(--bg-header);
}

/* ------------------------------------------ */





/*------------------------------
Main Classes Can Be Used Again
------------------------------*/

.section-separator {
  border-bottom: 1.5px solid var(--border-color);
  margin: 20px 0;
}

.border {
  border: 2px solid red;
}

.flex {
  display: flex;
}



/*scroll-to-top  styel*/


.scroll-to-top {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(25, 120, 210, 0.8);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3%;
  right: 3%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;


  border: 2px solid #ffffff78;
  box-shadow: 2px 2px 5px #fff;
}

.scroll-to-top:hover {
  background-color: rgba(25, 120, 210, 1);
}



/*------------------------------
End
------------------------------*/

/*------------------------------
media Query
------------------------------*/
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 0.3rem;
  }


  .scroll-to-top {
    width: 30px;
    height: 30px;
    opacity: 0.4;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1rem;
  }
}








/* ------------------------------------------ */