@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/*------------------------------
Reset Some Element
------------------------------*/

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}
/*------------------------------
Reset Some Element
------------------------------*/
:root {
  --primary-color: #000;
  --secondary-color: rgb(24, 24, 27);
  --border-color: rgba(63, 63, 70, 0.4);

  --title-color: rgb(244, 245, 245);
  --subtitle-color: rgb(161, 161, 170);

  --bg-header:rgb( 39,39,42)
}

.light {
  --primary: #fff;
}

body {
  background-color: var(--primary-color);
  color: #fff;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--border-color);
  background-color: var(--secondary-color);
}

/*------------------------------
Main Classes Can Be Used Again
------------------------------*/

.section-separator {
  border-bottom: 1.5px solid var(--border-color);
  margin: 20px 0;
}

.border {
  border: 2px solid red;
}

.flex {
  display: flex;
}
/*------------------------------
End
------------------------------*/
